body {
    background-color: white;
}

.center {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 60%;
}

.tiny_text {
    font-size: 11px;
    color: blue;
}

.form-control {
    margin-top: 8px;
    padding-top: 10px;
    width: 500px;
    height:45px;      
    border-width: thin; 
    -webkit-box-align: center;
}
